
@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: burbank;
}

@font-face {
    font-family: burbank;
    src: url('../fonts/Burbank Big Condensed Black.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

.gameBackground{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    padding: 0;
    background-image: linear-gradient(0deg,rgb(132, 132, 188),rgb(85, 85, 181));
    text-align: center;
    font-size: 40px;
    overflow: hidden;
}

.bloco{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    top: 80px;
}

.bloco.pendurado{
    transform-style: preserve-3d;
    transform-origin: 50% -160%;
    animation:
    balanceBlock 6s infinite linear 2s,
    blockEnter 2s ease;
}

.bloco.pendurado::after{
    content: " ";
    position: absolute;
    width: 2px;
    height: 80px;
    background: black;
    top: -80px;
    left: 23px45
}

.blockFallRight{
    animation: fallRight 3s infinite;
}

@keyframes fallRight{
    0%, 100%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(120deg);
    }
    66%{
        transform: rotate(240deg);
    }

}


.blockFallLeft{
    animation: fallLeft 3s infinite;
}

@keyframes fallLeft{
    0%, 100%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(-120deg);
    }
    66%{
        transform: rotate(-240deg);
    }

}

@keyframes balanceBlock {

   0% , 100%{
    transform: rotate(0deg);
   }
   23%{
    transform: rotate(45deg);
   }
   27%{
    transform: rotate(45deg);
   }
  
   73%{
    transform: rotate(-45deg);
   }
   77%{
    transform: rotate(-45deg);
   }
}
@keyframes blockEnter {
    0%{
        transform: translateY(-180px);
    }
    100%{
        transform: translateY(0px);
    }
}

.gamePlay{
    position: absolute;
    height: 100px;
    width: 100px;
    border-top : 70px solid transparent;
    border-left: 110px solid  rgb(244,169, 70);
    border-bottom: 70px solid transparent;
    transition: .5s;
}
.gamePlay:hover{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.493));
    transition: .5s;
}


.texto{
    display: flex;
    position: absolute;
    z-index: 100;
    width: 400px;
    height: 200px;
    align-items: center;
    background: rgb(244, 169, 70);
    border-radius: 20px;
    top: 10px;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.459);
    color: white;
    text-shadow: 2px 2px 2px black;
    transition: 0.5;
    overflow: hidden;
    animation: textEnter 2s ;
}

p{
    position: relative;
    display: block;
    text-align: center;
    z-index: 101;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0);
    transition: .5s;
}

.resGametxt{
    transform: scale(1);
}



@keyframes textEnter {
    0%{
        transform: scale(0) ;
    }
    90%{
        transform: scale(1.05) ;
    }
    100%{
        transform: scale(1) ;
    }
}


.cloud{
    position: absolute;
    width: 550px;
    height: 200px;
    background: transparent;
    top: 70px;
    left: 500px;
    animation: clouds 20s infinite linear;
}

.cloud > .cloud1{
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    top: 130px
}

.cloud > .cloud2{
    position: absolute;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    top: 60px;
    left: 150px;
}

.cloud > .cloud2 > .sCloud1{
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    top: -40px;
    left: 40px;
}

.cloud > .cloud2 > .sCloud2{
    position: absolute;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    top: 40px;
    left: 60px;
}

.cloud > .cloud3{
    position: absolute;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    top: 60px;
    left: 380px;
}
.cloud > .cloud3 > .sCloud1{
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    top: 40px;
    left: 60px;
}

@keyframes clouds{
    0%{
        left: 550px;
    }
    100%{
        left: -550px;
    }
}
.gameScore{
    position: absolute;
    width: 180px;
    height: 180px;
    background-image: radial-gradient(yellow,rgb(255, 138, 5));
    border-radius: 50%;
    top: -40px;
    left: 400px;
    display: flex;
    box-shadow: 0 0 10px rgb(255, 138, 5),
                0 0 20px rgb(255, 138, 5),
                0 0 40px rgb(255, 138, 5);
    animation: sunEnter 3s;
}

@keyframes sunEnter{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translate(0);
    }
}

.surge.terra{
    width: 550px;
    height: 10px;
    position: absolute;
    background: gray;
    bottom: 0px;
    animation: terraEnter 1s;
}
@keyframes terraEnter{
    0%{
        bottom: -10px;
    }
    100%{
        bottom: 0px;
    }
}

.surge.tree{
    width: 40px;
    height: 120px;
    border-radius: 20px;
    background-color: green;
    position: absolute;
    transform-origin: bottom;
    animation: treeEnter 2s,
                treeMove 3s linear infinite 3s;
}

.surge.tree::after{
    content:  " ";
    width: 10px;
    height: 20px;
    background-color: rgb(201, 105, 26);
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.surge.tree.left{
    left: 100px;
    bottom: 20px;
}

.surge.tree.right{
    left: 400px;
    bottom: 20px;
}

@keyframes treeEnter{
    0%{
        bottom: -140px;
    }
    100%{
        bottom: 20px;
    }
}

@keyframes treeMove{
    0%, 100%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(-5deg);
    }
}